form.form_container > * {
  padding-bottom: 20px;
}

form.form_container > *:last-child {
  padding-top: 20px;
  padding-bottom: 0px;
}
.main_header h2 {
  font-size: 2rem;
  padding-bottom: 20px;
  font-weight: 900;
}

.main_header p {
  font-size: 1.25rem;
}

.main_header {
  padding-bottom: 74px;
  color: var(--link-color);
}

.form_group_double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
/*  */
.form_checkbox {
  display: flex;
  align-items: flex-start;
  color: var(--text-gray-color);
}

.form_checkbox input[type="checkbox"] {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-right: 8px;
  border: 0px solid;
}

.form_checkbox label {
  font-size: 14px;
}
@media (max-width: 600px) {
  .form_group_double {
    grid-template-columns: 1fr;
  }

  .main_header {
    padding-bottom: 50px;
  }

  .main_header p {
    font-size: 1.15rem;
  }
}
