.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 3rem 0;
  padding-bottom: 5rem;
  max-width: 750px;
  margin: 0 auto;
  width: 95%;
  flex: 1;
}

form.form_container > * {
  padding-bottom: 20px;
}
.main_header h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.main_header {
  padding-bottom: 50px;
}

.form_group_double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
