.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 5rem 0 3rem;
  padding-bottom: 5rem;
  max-width: 1000px;
  margin: 0 auto;
  width: 95%;
  flex: 1;
}
