/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header { */
/* padding-top: 30px; */
/* background-color: #282c34; */
/* background-color: #a0797922; */
/* min-height: 100vh; */
/* font-size: calc(10px + 2vmin); */
/* color: white; */
/* column-count: 5; */
/* max-width: 1300px; */
/* margin: 40px; */
/* margin: auto; */
/* width: 90%; */
/* } */
/* 
.App-header .grid {
  height: auto;
  break-inside: avoid-column;
  margin-bottom: 100px;
  overflow: hidden;
}

.App-header .grid img {
  border: 4px solid #bbbbbb11;
  width: 100%;
  transition: all 200ms ease;
}

.App-header .grid img:hover {
  opacity: 0.9;
  filter: invert(0.1);
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 1100px) {
  .App-header {
    column-count: 4;
  }
} */
/* 
@media(max-width: 900px) {
  .App-header {
    column-count: 3;
  }
}

@media(max-width: 700px) {
  .App-header {
    column-count: 2;
  }
}

@media(max-width: 400px) {
  .App-header {
    width: 80%z;
    column-count: 1;
  }
}

.App {
  background-color: #a0797922;
  min-height: 100vh;
} */

/* App */
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.app {
  background-color: #fefefe;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

/* Step */
.step {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.step-body {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.step-actions {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 2rem 1rem;
}

.step-button {
  padding: 0.5rem 1rem;
  border: none;
}

/* Stepper css */

.stepper {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  margin: 20px 50px;
}

.step-wrapper {
  width: 600px;
  height: 100%;
}

.stepper-selector {
  position: absolute;
  height: 100%;
  display: inline-flex;
  top: 0;
}

/* Stepper Progress */

.stepper-progress {
  position: absolute;
  top: 15px;
  width: 100%;
  z-index: 9;
}

.stepper-progress-wrapper {
  width: 90%;
  position: relative;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.step-title {
  text-align: center;
  font-size: 0.7rem;
  align-items: center;
  background: #fff;
  padding: 0 1rem;
  height: 30px;
}

.step-title-number {
  font-size: 1rem;
  background: #ceeeff;
  height: 24px;
  width: 24px;
  margin: auto;
  line-height: 1.5;
  border: 3px solid #fff;
  border-radius: 100%;
}

.stepper-progress-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 13px;
  z-index: -1;
  background: #e91e63;
  transition: width 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}