@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --link-bg: #eaecf0;
  --link-color: #101828;
  --link-dark-bg: #d0d5dd;
  --label-color: #344054;
  --placeholder-color: #667085;
  --input-active-border-color: #84caff;
  --btn-active-bg: #175cd3;
  --btn-bg-color: #1570ef;
  --btn-outline-color: #d1e9ff;
  --btn-disabled-bg: #b2ddff;
  --text-gray-color: #475467;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
